<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <a href="/new"><button class="new-message" >+</button></a>
  <ul>
      <% messages.forEach((user) => {%>
          <li class="<%= user.userMessage ? 'user-message' : '' %>" >
            <div class="message-info">
              <span><%= user.user %></span>
              <span>
                <%= user.added.toLocaleString('en-US', {
                  month: 'short',
                  day: '2-digit',
                  year: 'numeric',
                  hour: '2-digit',
                  minute: '2-digit',
                  hour12: true
                }) %>
              </span>
            </div>
            <span class="message-text">
              <%= user.text %>
            </span>
          </li>
      <%})%>
  </ul>
</body>
</html>